version: "3.9"
services:
  web:
    build: .
    container_name: php-apache
    ports:
      - "9090:80"
    volumes:
      - ./www:/var/www/html
      - ${PROJECT_PATH_UPLOADS}:/var/www/html/extract/uploads/
      - ${PROJECT_PATH_DATA}:/var/www/html/extract/data/
